.SearchBar {
    border: 1px solid var(--border-color);
    outline: var(--border-color-transparent) solid 3px;
    border-radius: 3px;
    font-size: 16px;
    transition: outline 0.4s ease-in-out;
}

.SearchBar:focus {
    outline: var(--border-color) solid 3px;
}
