.SearchBar {
    border: 1px solid var(--border-color);
    border-radius: 3px;
    font-size: 16px;
    margin: 8px;
    padding: 4px;
    min-width: 300px;
}

.SearchBar:focus {
    outline: var(--border-color) solid 3px;
}
